<div class="container">
    <div class="row text-center p-3  ">
        <a routerLink="/label" class="d-block p-2 m-2 bg-dark text-light col rounded text-center">
            <div><i class="fa fa-fw fa-barcode fa-5x"></i></div> <small>Etiquetas</small>
        </a>
        <a routerLink="/prices" class="d-block p-2 m-2 bg-dark text-light col rounded text-center">
            <div><i class="fa fa-fw fa-calendar fa-5x"></i></div> <small>Precios</small>
        </a>
        <a routerLink="/print-config" class="d-block p-2 m-2 bg-dark text-light col rounded text-center">
            <div><i class="fa fa-fw fa-print fa-5x"></i></div> <small>Configuracion</small>
        </a>
        <a routerLink="/user" class="d-block p-2 m-2 bg-dark text-light col rounded text-center">
            <div><i class="fa fa-fw fa-user fa-5x"></i></div> <small>Usuario</small>
        </a>

    </div>
</div>