<div *ngIf="product" [style.height.px]="ConfigService.params.labelHeight"
  [style.width.px]="ConfigService.params.labelWidth" style="background: #FFF; "
  [width]="ConfigService.params.labelWidth" [height]="ConfigService.params.labelHeight" class="etiqueta">

  <div style="text-align: center;">
    <qr-code size="200"
      [value]="'https://www.blancoamor.com/qr_price/' + product['product_tmpl_id'][0] +'-' + product['price_public']">
    </qr-code>
  </div>

  <div class="productName" style="text-align: center; width:180px; left:50px; top:245px;padding: 5px;position: absolute;   transform: rotate(-90deg);
  ">
    {{product['default_code']}} {{product['display_name']}}</div>



</div>